html, body {
    margin: 0; 
    padding: 0;
    height: 100%;
  }

@font-face {
  font-family: "BBT-Regular";
  src: url("fonts/BBTRegular.ttf") format('TrueType');
}

@font-face {
  font-family: "Cinzel-Bold";
  src: url("fonts/Cinzel-Bold.ttf") format('TrueType');
}

h1,h2,h3{font-family: Roboto, sans-serif;}

h1{font-size: 40px;}

h2{font-size: 30px;}

h3{font-size: 25px;}

#homepage-switch-wrapper{
  justify-content: start;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 27%;
  gap: 28%;
      
}

.containerPapa  {
  width: 90%;
  padding-bottom: 20px;
}

/* Switch Start */
.switchTextWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.switch-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switch-wrapper .switch {
   appearance: none;
   background-color: #dfe1e4;
   border-radius: 144px;
   border-style: none;
   flex-shrink: 0;
   height: 40px;
   margin: 0;
   position: relative;
   width: 120px;
   cursor: pointer;
}

.switch-wrapper .switch::before {
   bottom: -12px;
   content: "";
   left: -12px;
   position: absolute;
   right: -12px;
   top: -12px;
}

.switch-wrapper .switch,
.switch-wrapper .switch::after {
   transition: all 100ms ease-out;
}

.switch-wrapper .switch::after {
   background-color: #fff;
   border-radius: 50%;
   content: "";
   height: 28px;
   left: 6px;
   position: absolute;
   top: 6px;
   width: 28px;
}

.switch-wrapper .switch:hover {
   background-color: #c9cbcd;
   transition-duration: 0s;
}

.switch-wrapper .switch:checked {
   background-color: #474bff;
}

.switch-wrapper .switch:checked::after {
   background-color: #fff;
   left: 86px;
}

.switch-wrapper :focus:not(.focus-visible) {
   outline: 0;
}

.switch-wrapper .switch:checked:hover {
   background-color: #0005f9;
}

/* Switch End */

header h1{font-family: "BBT-Regular", Roboto, sans-serif;}

.nomePapa, .tipoDocumento, .nomeDocumento, .documento, .descricaoDocumento, h3{ text-align: center;}

.nomeDocumento, .nomePapa a, a{color:#daa520;}

.textoDocumento a{
  color:#BC8E1C;
  font-weight: 600;
  }

.nomeDocumento, .data{font-style: italic;}

nav a{text-decoration: none}

nav{
  width: 100%;
  height: 75px;
  background-color: #59493A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  gap: 5px;
}

nav .switch-wrapper{
  display: flex;
  flex-direction: row;
}

header{
  display: flex;
  justify-content: center;
}

.nomePapa h1{font-family: "Cinzel-Bold",  Roboto, sans-serif;}

.nomeDocumento h2, .tipoDocumento h2{font-family: "Cinzel-Bold", Roboto, sans-serif;}

.descricaoDocumento h3, .textoDocumento h3 {font-family: "Cinzel-Bold", Roboto, sans-serif;}

.subtexto{padding-left: 40px;}

p {
  font-family: Roboto, sans-serif;
  text-indent: 10px;
  font-size: 21px; 
  text-align: justify;
  padding-left: 21%;
  padding-right: 21%;
  padding-bottom: 20px;
  /*max-width: 40%;*/
  
}

.documentContainer{  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  margin-top: 20px;
}

.documentosRecentes, .documentosRelevantes{
  display: flex;
  flex-direction: column;
  align-items : center;
  gap: 10px;
  padding: 10px 30px;
  margin-bottom: 20px;
  outline: 3px solid gray;
  border-radius: 25px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.descricaoDocumento{
  padding-left: 30%; /*700px*/
  max-width: 40%; /*500px*/
}

.documentosRecentes .documento, .documentosRelevantes .documento{max-width: 900px;}

.documento li{padding-bottom: 15px;}

.barraPapa{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  outline: 3px solid gray;
  border-radius: 25px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
}

.barraPapa li{font-size: 23px;}

.alertaTraducao{ 
  padding-left: 500px;
  padding-right: 500px;                
}

.listas{
        margin-left:20px;
        display: flex;
      }
      
li a{color:#330066;}

li{
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 30px;
  list-style: none;
            
}
